/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

html, body {
  margin: 0;
  padding: 0;
  background-color: #272B30;
  color: #c8c8c8;
  font-family: 'Roboto','Helvetica',sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none
}

a:hover {
  color: #c8c8c8;
  text-decoration: none;
}

.root {
  width: 100vw;
  height: 100%;
}

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.layout {
  margin: 0 auto 0 auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto 27px auto 27px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  box-shadow: 2px 2px 2px 0px #111;
  background-color: white;
}

.excerpt {
  padding: 0 50px 0 20px;
  font-style: italic;
}

.quote {
  padding: 0 50px 0 20px;
  font-style: italic;
}

.quote-attribution {
  margin-right: 100px;
  text-align: right
}

.quote-attribution:before {
  content: "\2014   ";
}

.layout {
  width: calc(1280px - 30px);
}

.layout img {
  max-width: calc(1280px - 80px);
}

@media (max-width: 768px) {
  .layout {
    width: calc(768px - 22px);
  }
  .layout img {
    max-width: calc(768px - 80px);
  }
}

@media (max-width: 375px) {
  .layout {
    width: 100vw;
  }
  .layout img {
    max-width: calc(100vw - 40px);
  }
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.navbar {
  background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  height: 50px;
  color: #c8c8c8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-weight: 700;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  color: #c8c8c8;
  text-decoration: none;
  height: 100%;
  white-space: nowrap
}

.navbar__link:hover {
  color: white;
}

.navbar__link--hideable {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  color: #c8c8c8;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;
  border-left: #717171 1px solid
}

.navbar__link--hideable:hover {
  color: white;
}

@media (max-width: 768px) {
  .navbar__link--hideable {
    display: none;
  }

  .navbar__link {
    -ms-flex-pack: start;
        justify-content: flex-start;
    overflow: hidden;
    padding-left: 10px;
  }
}
.Link {

}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.sidebar {
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  max-width: 20%;
  min-width: 300px;
}

.sidebar__well {
  padding: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #1C1E22;
  margin: 20px 0;
}

.sidebar__well h3 {
  margin-top: 0px;
}

.sidebar__tagBox {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar__about p {
  clear: left;
  font-size: smaller;
  text-align: justify;
}

.sidebar__about h3 {
  float: left;
  white-space: nowrap;
}

.sidebar__about img {
  float: right;
  margin: 0 0 0 15px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

@media (max-width: 1622px) {
  .sidebar {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    max-width: 100%;
    min-width: 100px;
  }

  .sidebar__well {
    margin: 10px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 100%;
    min-width: 100px;
  }
}

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.tagCloud__tags {
  padding: 20px;
}

.tagCloud__title {
  font-size: medium;
  margin-right: 3px;
  display: inline-block
}

.tagCloud__tag {
  display: inline-block;
  font-size: small;
  padding: 0px 3px;
  margin: 2px;
  background: grey;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #5d5d5d
}

.tagCloud__tag:hover {
  background: black;
}
.date {
  font-size: x-small;
  margin-top: -15px;
  margin-left: 10px;
  margin-bottom: 25px;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.disqusComments {
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.blogPost__content {
  padding-bottom: 30px;
}

.blogPost__body p {
  text-align: justify;
}

.blogPost__title {
  text-transform: capitalize;
  color: white;
}

.blogPost__tags {
  padding: 20px 10px;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.responsiveImage {
  display: inline-block;
  margin: 0 0 20px 0;
}

.responsiveImage img {
  background: white;
  padding: 1px;
  box-shadow: 2px 2px 2px 0px #111;
}

.responsiveImage__caption {
  margin-top: -56px;
  font-family: 'Swanky and Moo Moo', fantasy, cursive;
  text-decoration: none;
  // text-shadow: 0px 0px 10px #fff;
  color: #c8c8c8;
  text-shadow:  1px  1px 0.5px black,
               -1px -1px 0.5px black,
                1px -1px 0.5px black,
               -1px  1px 0.5px black;
  font-size: x-large;
  font-style: italic;
  text-align: center;
}

@media (max-width: 768px) {
  .responsiveImage {
    margin: 0;
  }
  .responsiveImage__caption {
    margin-top: 0;
  }
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.flickrImage {
  text-align: center;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.photo {
  text-align: center;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.blogPostSummary p {
  text-align: justify;
}

.blogPostSummary__moreLink {
  float: right;
  margin: 0 20px 30px 0;
}

.blogPostSummary__divider {
  clear: both;
  border: 0;
  height: 1px;
  background: #272B30;
  background-image: linear-gradient(to right, #272B30, #484848, #272B30);
  margin: 30px 0 50px 0;
}

.blogPostSummary__tags {
  padding: 20px 10px;
}

section:last-of-type .blogPostSummary__divider {
  display: none;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.blogLinkHeading a {

    text-transform: capitalize;

    text-decoration: none;

    font-size: xx-large;

    color: #fff
}

.blogLinkHeading a:hover {

    color: #c8c8c8
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.nextLink {
  float: right;
  margin: 40px;
}

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.previousLink {
  float: left;
  margin: 40px;
}

