/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

html, body {
  margin: 0;
  padding: 0;
  background-color: #272B30;
  color: #c8c8c8;
  font-family: 'Roboto','Helvetica',sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none
}

a:hover {
  color: #c8c8c8;
  text-decoration: underline;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px;
}

.Layout {
  margin: 0 auto 0 auto;
}

.moreLink {
  float: right;
  margin-right: 70px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto 27px auto 27px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) {
  .Layout {
    width: calc(375px - 18px);
  }

  img {
    max-width: calc(375px - 80px);
  }
}

@media (min-width: 768px) {
  .Layout {
    width: calc(768px - 22px);
  }

  img {
    max-width: calc(768px - 80px);
  }
}

@media (min-width: 1280px) {
  .Layout {
    width: calc(1280px - 30px);
  }
  img {
    max-width: calc(1280px - 80px);
  }
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7a8288), color-stop(60%, #70787d));
  background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  height: 50px;
  color: #c8c8c8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navContainer {
  height: 100%;
  width: calc(1280px - 30px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarheader {
}

.navigation {
  padding: 0;
  margin: 0;
}

.navigationLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: #c8c8c8;
  text-decoration: none;
  cursor: pointer;
  height: 100%
}

.navigationLink:hover {
  color: white;
}

.navbar:after {
  clear: both;
}

.navigation:last-of-type {
  border-right: transparent;
  border-right-width: 0px;
}
.Link {

}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.sidebar {
  min-width: 300px;
  max-width: 20%;
  min-height: 100%;
  margin: 0 auto;
}

.sidebar__well {
  padding: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #1C1E22;
  margin: 20px 0;
}

.sidebar__well h3 {
  margin-top: 0px;
}

.sidebar__tagBox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sidebar__about p {
  font-size: smaller;
  text-align: justify;
}

.sidebar__about img {
  float: right;
  margin: 0 0 0 15px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

/*
 * Typography
 * -------------------------------------------------------------------------- */

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

.tagCloud__tags {
  padding: 20px;
}

.tagCloud__title {
  font-size: medium;
  margin-right: 3px;
  display: inline-block
}

.tagCloud__tag {
  display: inline-block;
  font-size: small;
  padding: 0px 3px;
  margin: 2px;
  background: grey;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #5d5d5d
}

.tagCloud__tag:hover {
  background: black;
}
